@charset "UTF-8";
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
/* швидко закоментувати блок кода shift+alt+a */
/* або підключати шрифт через @font-face або прописувати в head html ссилки, часто так буває якщо немає шрифта на гугл фонтс, але є файл на компі від заказчика*/
/* @font-face {
    font-family: 'Roboto', 'Open Sans' sans-serif;
    src: 
        url('/fonts/web/ptsansbold.woff2') format('woff2'),
        url('/fonts/web/ptsans.woff2') format('woff2'),
        url('/fonts/web/cuprum.woff2') format('woff2'),
        url('/fonts/web/cuprumbold.woff2') format('woff2'),
        url('/fonts/web/cuprumbolditalic.woff2') format('woff2'),
        url('/fonts/web/cuprumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
/* text-transform: uppercase; -capital letters */
/* for buttons use font: inherit;!!!!! */
/*Главная страница*/
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-color: #f3f7f8;
  width: 100%;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.top-navigation,
#search {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.top-navigation-wrapper {
  width: 100%;
  background-color: #293449;
  margin-bottom: 45px;
}

.container .top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  width: 940px;
  padding: 0px 10px;
  margin: 0px  auto;
}

.top-nav-bar,
.checkout,
.user-navigation,
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav-bar a,
.checkout a,
.site-navigation a {
  color: #ffffff;
  display: block;
}

.top-nav-bar a:hover,
#search:hover {
  background-color: #212a3a;
}

.top-nav-bar a:focus {
  opacity: 0.6;
  background-color: #161d29;
}

#search {
  border: none;
  outline: none;
  width: 270px;
  height: 42px;
  padding: 12px 0px;
  padding-left: 50px;
}

#search:focus {
  color: #000000;
  background-color: #ffffff;
}

#search::-webkit-input-placeholder {
  color: #ffffff;
}

#search:-ms-input-placeholder {
  color: #ffffff;
}

#search::-ms-input-placeholder {
  color: #ffffff;
}

#search::placeholder {
  color: #ffffff;
}

.search-icon {
  background-image: url(/svg/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.top-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav-bar a {
  position: relative;
}

.bookmark-link {
  padding: 12px 0px;
  padding-left: 43px;
  padding-right: 29px;
}

.basket-link {
  padding: 12px 0px;
  padding-right: 30px;
  padding-left: 50px;
}

.bookmark-link::before,
.basket-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmark-link::before {
  background-image: url(/svg/icon-bookmark.svg);
}

.basket-link::before {
  background-image: url(/svg/icon-cart.svg);
}

.bookmark-link:hover::before,
.basket-link:hover::before {
  opacity: 1;
}

.bookmark-link:active::before,
.basket-link:active::before,
.bookmark-link:focus::before,
.basket-link:focus::before {
  opacity: 0.5;
}

.checkout a {
  background-color: #63a63e;
  padding: 12px 21px;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:focus,
.checkout a:active {
  color: #b1c5a8;
  background-color: #518534;
}

.main-logo {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 9px 55px;
  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0px 0px #b52933;
          box-shadow: 0px 5px 0px 0px #b52933;
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus {
  background-color: #ba2732;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.site-description {
  padding: 0px 49px;
  margin-right: 10px;
}

.site-description p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding: 0px;
  margin: 0px;
}

.header-contact-info {
  width: 270px;
  margin: 0px 10px;
  padding-right: 30px;
}

.header-contact-info p:first-of-type {
  width: 150px;
  height: 22px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  margin: 0;
  padding: 9px 0px;
  padding-left: 72px;
  padding-right: 42px;
  position: relative;
  border: 3px solid #ffffff;
}

.header-contact-info p:first-of-type::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url(/svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contact-info p:last-of-type {
  margin: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  color: #32425c;
  text-align: center;
}

.user-navigation {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  padding-left: 19px;
  margin-left: 10px;
}

.user-navigation a {
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  display: block;
}

.login-link {
  padding: 12px 0px;
  padding-left: 52px;
  padding-right: 31px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 22px;
  height: 19px;
  background-image: url(/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url(/svg/icon-login-hover.svg);
}

.login-link:active::before {
  background-image: url(/svg/icon-login.svg);
}

.register-link {
  padding: 12px 24px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #cacaca;
}

.bottom-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  -webkit-box-shadow: 0px 5px 0px 0px #293449;
          box-shadow: 0px 5px 0px 0px #293449;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-navigation a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 110px;
  padding: 19px 37px;
}

.site-navigation .long-link {
  padding: 19px 10px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #a1a4a8;
  background-color: #1d2739;
}

.site-sections-list {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.site-section-wrapper-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.site-section-wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.site-section-wrapper-2 .site-sections-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-slider {
  width: 620px;
}

.site-sections-list li {
  width: 300px;
}

.site-sections-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding: 26px 160px 15px 22px;
  margin: 0;
}

.site-sections-list p {
  margin: 0;
  padding: 0px 140px 22px 25px;
}

.site-sections-list a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.site-sections-list a:hover,
.site-sections-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.site-sections-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.site-section {
  position: relative;
}

.site-section::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-1 {
  background-color: #ffbf47;
}

.item-1::after {
  width: 60px;
  height: 60px;
  top: 0px;
  right: 0px;
  background-image: url(/img/new.png);
}

.item-1 h3::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 66px;
  top: 31px;
  right: 43px;
  background-image: url(/svg/icon-1.svg);
}

.item-2 {
  background-color: #3bbce3;
}

.item-2::after {
  width: 76px;
  height: 62px;
  top: 33px;
  right: 28px;
  background-image: url(/svg/icon-2.svg);
}

.item-3 {
  background-color: #dc91d8;
}

.item-3::after {
  width: 79px;
  height: 63px;
  top: 31px;
  right: 31px;
  background-image: url(/svg/icon-3.svg);
}

.item-4 {
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.item-4::after {
  width: 60px;
  height: 73px;
  top: 26px;
  right: 45px;
  background-image: url(/svg/icon-4.svg);
}

.item-5 {
  background-color: #ffc047;
}

.item-5::after {
  width: 79px;
  height: 64px;
  top: 32px;
  right: 31px;
  background-image: url(/svg/icon-5.svg);
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 48px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.common-slider {
  position: relative;
  width: 620px;
  height: 282px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.slider-item {
  position: relative;
  height: 100%;
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-item-inner {
  position: relative;
  height: 100%;
}

.slider-item-picture {
  height: 100%;
}

.slider-item-picture img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.main-slider-navigation {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  background: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.main-slider-navigation-to-prev {
  left: 0;
}

.main-slider-navigation-to-next {
  right: 0;
}

.catalog-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
}

.slider-switches-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 32px;
  position: absolute;
  bottom: 30px;
  left: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-radio-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.slide-radio-button svg {
  fill: #fff;
}

.slide-radio-button:active svg,
.slide-radio-button:focus svg {
  stroke-width: 15px;
  stroke: #fff;
  fill: red;
}

.section-title {
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 26px;
  margin-bottom: 20px;
}

.section-title h2 {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 0px;
}

.popular-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.popular-items-list li {
  width: 220px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.popular-items-list p,
.popular-items-list h3 {
  margin: 0;
  padding: 0;
}

.popular-items-list h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-items-list a {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.item-image a {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-items-list .old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
  margin-bottom: 15px;
}

.old-price + p {
  margin-bottom: 20px;
}

.popular-items-list .no-discount {
  margin-top: 43px;
  margin-bottom: 20px;
}

.popular-items-list .price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid transparent;
  border-width: 10px 38px;
  background-image: url(/svg/red-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item-popular-hover {
  display: none;
}

.item-popular:hover .item-popular-active {
  display: none;
}

.item-popular:hover .item-popular-hover {
  display: block;
}

.item-popular:hover,
.item-popular:focus {
  border: none;
  -webkit-box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.buy.button {
  position: relative;
  background-color: #63a63e;
  -webkit-box-shadow: 0px 3px 0px #367315;
          box-shadow: 0px 3px 0px #367315;
  margin-bottom: 7px;
  margin-top: 44px;
  padding-top: 10px;
  padding-bottom: 7px;
  border: none;
}

.buy.button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
  top: 12px;
  background-image: url(/svg/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.buy.button:hover,
.buy.button:focus,
.buy.button:hover::before,
.buy.button:focus::before {
  background-color: #5fbb2d;
  opacity: 1;
  outline: none;
}

.buy.button:active,
.buy.button:active::before {
  background-color: #518534;
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.bookmarks.button {
  color: #32425c;
  background-color: transparent;
  border: 3px solid #63a63e;
  padding: 7px 32px;
  margin-bottom: 46px;
}

.bookmarks.button:hover,
.bookmarks.button:focus {
  border: 3px solid #32425c;
}

.bookmarks.button:active {
  opacity: 0.3;
}

.item-popular {
  position: relative;
}

.popular-items-list li:last-child::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0px;
  right: 0px;
  background-image: url(/img/new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
}

.popular-companies-list li {
  width: 220px;
  text-align: center;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.popular-companies-list li:hover,
.popular-companies-list li:focus {
  border: none;
  -webkit-box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-companies-list li:active {
  border: none;
  -webkit-box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.company a {
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  width: 100%;
  background-color: #f4f8f9;
  margin-bottom: 75px;
}

.services h2 {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 65px;
  padding-bottom: 30px;
}

.services p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 25px;
}

.service-list {
  position: relative;
  width: 240px;
  list-style: none;
  padding: 50px 0px;
  margin: 0px;
  margin-bottom: 45px;
}

.service-list::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 280px;
  left: 230px;
  top: 5px;
  background-image: url(/img/Layer118.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-button {
  width: 240px;
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #4e637c;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -1 #33445a;
          box-shadow: inset 0 -1 #33445a;
  padding: 15px 139px 15px 22px;
}

.service-button:hover {
  background-color: #293449;
}

.service-button:focus,
.service-button:active {
  color: #32425c;
  background-color: #ffffff;
  outline: none;
}

.service-item:last-child .service-button {
  border: none;
  padding-right: 160px;
}

.service h3 {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

.service p {
  width: 390px;
  margin: 0;
  padding: 0px;
}

.service-desc-wrapper {
  width: 620px;
}

.delivery-wrapper {
  background-image: url(/img/delivery.png);
  background-position: right top 25px;
  background-repeat: no-repeat;
  height: 261px;
  /* display: none; */
}

.guarantee-wrapper,
.credit-wrapper {
  background-position: right top 5px;
  background-repeat: no-repeat;
  height: 261px;
}

.guarantee-wrapper {
  background-image: url(/img/guarentee.png);
  display: none;
}

.credit-wrapper {
  background-image: url(/img/credit.png);
  display: none;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-index-columns h2 {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.bottom-index-columns p {
  margin: 0;
}

.company-desc {
  width: 540px;
}

.company-desc p {
  margin-bottom: 25px;
}

.contacts p:first-of-type {
  margin-bottom: 31px;
}

.contacts p:last-of-type {
  margin-bottom: 42px;
}

.company-desc ul {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  list-style-image: url("/img/Layer23new1.png");
  margin: 0;
  margin-bottom: 35px;
}

.transport-company-list li {
  margin-bottom: 23px;
}

.transport-company-list li:last-of-type {
  margin-bottom: 0;
}

.footer-top {
  width: 100%;
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: #32425c;
  margin-top: 85px;
  padding-bottom: 50px;
}

.footer-site-navigation-top a:hover,
.footer-site-navigation-top a:focus,
.footer-site-navigation-bottom a:hover,
.footer-site-navigation-bottom a:focus {
  text-decoration: underline;
}

.footer-site-navigation-top a:active,
.footer-site-navigation-bottom a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-site-navigation-bottom, .footer-site-navigation-top {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  margin: 0;
  width: 335px;
}

.footer-site-navigation-top a {
  color: #ffffff;
}

.footer-site-navigation-bottom a {
  color: #ffd180;
}

.footer-top-wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.footer-site-navigation-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 550px;
}

.footer-top-wrapper-1 .main-logo {
  padding: 16.5px 41.5px;
  font-size: 30px;
  line-height: 30px;
}

.footer-top-wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*     padding-bottom: 50px; */
}

.footer-site-navigation-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 530px;
}

.footer-bottom {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-bottom p {
  margin: 0px;
  padding: 0px;
}

.footer-bottom .footer-copyright {
  width: 240px;
  margin-right: 150px;
}

.footer-social {
  margin-right: 120px;
}

.container .feedback {
  margin-right: 45px;
}

.feedback a,
.made-by a {
  color: #ffd180;
}

.feedback a:hover,
.made-by a:hover,
.feedback a:focus,
.made-by a:focus {
  text-decoration: underline;
}

.feedback a:active,
.made-by a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-list li:nth-child(1) a {
  background-image: url(svg/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list li:nth-child(2) a {
  background-image: url(svg/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list li:nth-child(3) a {
  background-image: url(svg/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list a:hover,
.footer-social-list a:focus,
.footer-social-list a:active {
  background-color: #ee3643;
  border-radius: 50%;
}

.modal {
  position: fixed;
  background-color: #ffffff;
  display: none;
  z-index: 1;
}

.modal-write-us {
  bottom: 50px;
  left: 50%;
  margin-left: -310px;
  width: 460px;
  padding: 0px 80px;
  padding-top: 45px;
  margin-bottom: 50px;
  border-top: 7px solid red;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
}

.modal p {
  margin: 0;
  padding: 0;
}

.top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.modal-write-us fieldset {
  font-family: "Cuprum", 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 460px;
}

.top-form label,
.bottom-form label {
  display: inline-block;
  margin-bottom: 10px;
}

.modal .bottom-form {
  margin-bottom: 35px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 7px 0px;
  padding-left: 16px;
}

.write-us-form input::-webkit-input-placeholder,
.bottom-form textarea::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input:-ms-input-placeholder,
.bottom-form textarea:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input::-ms-input-placeholder,
.bottom-form textarea::-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input::placeholder,
.bottom-form textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input,
.bottom-form textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.write-us-form input:hover,
.bottom-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.write-us-form input:focus,
.bottom-form textarea:focus {
  outline: 2px solid red;
  border: none;
}

.bottom-form textarea {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 0px;
  padding-left: 16px;
  width: 460px;
  height: 114px;
  resize: none;
}

.modal .modal-submit {
  padding: 36px 0px;
}

.modal-submit button {
  padding: 10px 198px;
}

.modal-submit::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #f4f4f4;
  height: 112px;
  width: 620px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0px;
  cursor: pointer;
  background-image: url(/svg/form-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.modal-close:focus {
  outline: 1px solid gray;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  -webkit-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.25);
  margin-top: -223px;
  margin-left: -470px;
}

.modal-map section {
  width: 940px;
  height: 446px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/* КАТАЛОГ */
.catalog-page {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
